---
import "../../Styles/root.css";
import "./projects.css";
import  FilterProjects  from "./components/filterProjects.astro";
---

<section id="projects" class="projectContainer">
  <FilterProjects/>
</section>
