---
interface props {
    studio: string;
    institution: string;
    yers: string;
}
const { studio, institution, years } = Astro.props;
---

<section>
    <main>
        <span>{studio}</span>
        <span>{institution}</span>
        <p>{years}</p>
    </main>
</section>