---
interface props {
  company: string;
  responsabilities: string;
  stack: string;
  time: string;
}
const { company, responsabilities, stack, time } = Astro.props;
---

<section>
  <main>
    <div>
        <img src={""} alt={""} />
        <p>{time}</p>
    </div>

    <div>
      <h3>{company}</h3>
      <p>{responsabilities}</p>
      {
        stack.map((stackItems) => {
          return <ul>{stackItems}</ul>;
        })
      }
    </div>
  </main>
</section>
