@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
:root {
  /* Backgrounds */
  --bg-1: #000000;
  --bg-2: #181818;
  --bg-3: #1d1d1d;
  --bg-4: #262626;
  --bg-5: #ffffff;
  --bg-6: #d3d3d3;
  --bg-7: #18181867;
  --bg-8: rgba(22, 22, 22, 0.836);
  --bg-9: #c79a12;

  /* Fonts*/
  --font-1: "Barlow", sans-serif;
  --font-2: "Staatliches", cursive;
  --font-3: "Gruppo", cursive;
  --font-4: "Jura", sans-serif;
  --font-5: 'Architects Daughter', cursive;

  /* Colors */
  --cl-1: #ffffff;
  --cl-2: #c4c4c4;
  --cl-3: #000000;
  --cl-4: #181818;
  --cl-5: #1d1d1d;
  --cl-6: #262626;
  --cl-7: #ffbe01;
}
html {
  scroll-behavior: smooth !important;
}
header {
  z-index: 200 !important;
}
section, footer {
  cursor: crosshair;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: var(--bg-4);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-3);
  border-radius: 1px;
  animation-name: fondo;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.effectText{
  transition-duration: .4s;
}
.effectText:hover {
  animation: title;
  position: relative;
  transition-duration: .5s;
  color: var(--cl-7);
  /* text-shadow: 0px 0px 14px rgba(255,190,1,1); */
}

/*
xs <576px = Celulares
sm ≥576px = Tablet
md ≥768px = Laptop
lg ≥992px = Desktop
xl ≥1200px = 2K
xxl ≥1400px = 4K
*/
