  .aboutContainer {
    width: 100%;
    min-height: 900px;
    max-height: auto;
    background-color: var(--bg-4);
    display: flex;
    flex-direction: row;
  }
  .contentContainer {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #181818;
  }
  .dataContainer {
    width: 50%;
    height: 100dvh;
    padding: 10% 0 0 0  !important;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
  }
  .infoContainer {
    width: 50%;
    position: relative;
    z-index: 50;
    padding: 10% 5% 10% 1% !important;
  }
  .aboutSection, .experienceSection{
    margin-bottom: 150px !important;
  }
  .qr {
    width: 100px;
    position: absolute;
    right: 60px;
    top: -50px;
    z-index: 30 !important;
    transition: 0.5s;
  }
  .qr:hover {
    transform: scale(3);
    transform: translate(0, 80px);
    transition: 0.5s;
  }
  .titleAbout {
    font-family: var(--font-5);
    text-transform: uppercase;
    font-size: 20px;
    z-index: 150 !important;
    font-weight: 600;
    margin: 15px 0 !important;
  }
  .titleAbout > a{
    color: var(--cl-1);
  }
  .titleAbout > a:hover{
    color: var(--cl-7);
  }
  .description {
    color: var(--cl-1);
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
    z-index: 150;
    margin-top: 10vh !important;
    position: relative;
  }
  .subdescription {
    color: var(--cl-1);
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 100;
    text-align: justify;
    z-index: 150;
    margin-top: 5vh !important;
    margin-bottom: 20vh !important;
    position: relative;
  }
  .ubication {
    color: var(--cl-1);
    font-family: var(--font-1);
    font-size: 15px;
    font-weight: 600;
    z-index: 150;
    position: absolute;
    bottom: 2rem;
    left: 15rem;
  }
  .component {
    position: absolute;
    color: var(--cl-5);
    font-size: 20vw;
    z-index: 40;
    bottom: 1vh;
    left: 13vw;
    font-family: var(--font-2);
  }
  /* View Tablet */
  @media only screen and (max-width: 834px) {
    .aboutContainer {
      height: auto;
      display: flex;
      flex-direction: row;
      position: relative;
    }
    .contentContainer {
      width: 100% !important;
      height: auto;
    }
    .dataContainer {
      width: 25% !important;
      height: 20% !important;
      padding: 5rem 2rem !important;
      font-size: 40px;
      z-index: 50;
    }
    .infoContainer{
      width: 75%;
    }
    .qr {
      width: 100px;
      position: absolute;
      right: 60px;
      top: -50px;
      z-index: 30 !important;
      transition: 0.5s;
    }
    .qr:hover {
      transform: scale(3);
      transform: translate(0, 80px);
      transition: 0.5s;
    }
    .title {
      font-size: 90px;
    }
    .description {
      font-size: 22px;
      margin-top: 3vh !important;
    }
    .subdescription {
      color: var(--cl-1);
      font-family: var(--font-1);
      font-size: 20px;
      font-weight: 100;
      text-align: justify;
      z-index: 150;
      margin-top: 5vh !important;
      margin-bottom: 20vh !important;
      position: relative;
    }
    .ubication {
      bottom: 2rem;
      left: 8rem;
    }
    .component {
      font-size: 25vw;
      bottom: 2vh;
      left: 5vw;
    }
  }

  @media only screen and (max-width: 425px) {
    .aboutContainer {
      width: 100% !important;
      height: auto;
      display: flex;
      flex-direction: row;
      position: relative;
    }
    .aboutSection{
      margin: 80px 0 70px 0 !important;
    }
    .educationSection{
      margin-top: -50px !important;
      margin-bottom: 90px !important;
    }
    .contentContainer {
      width: 100% !important;
      height: auto !important;
      display: flex;
      /* background: linear-gradient(15deg, #181818 0%, #181818 50%, #262626 50%); */
    }
    .dataContainer {
      padding: 5rem 2rem !important;
      width: 100% !important;
      font-size: 40px;
      display: none;
    }
    .infoContainer {
      padding: 0 10px !important;
      width: 100% !important;
    }
    .title {
      font-size: 90px;
    }
    .description {
      font-size: 22px;
      margin-top: 3vh !important;
    }
    .subdescription {
      color: var(--cl-1);
      font-family: var(--font-1);
      font-size: 20px;
      font-weight: 100;
      text-align: justify;
      z-index: 150;
      margin-top: 5vh !important;
      margin-bottom: 20vh !important;
      position: relative;
    }
    .ubication {
      bottom: 2rem;
      left: 8rem;
    }
    .component {
      font-size: 25vw;
      bottom: 10vh;
    }
  }