---
// import Logo from "/public/Resource/img/logos/jml.webp";
---

<!-- <a href="#home">
  <img class="logo" src={Logo} alt="Logo" />
</a> -->
<p class="logo"><a href="#home">{"<JM/>"}</a></p>

<style>
  .logo {
    width: 100%;
    height: 100%;
    font-family: var(--font-5);
  }
  .logo > a {
    color: var(--cl-1);
    font-size: 2.5rem;
  }
</style>
