---
interface props {
  img: string;
  tech: string;
}
const { img, tech } = Astro.props;
---

<main class="skills__card">
  <img src={'img'} alt="dd" />
  <p> {tech}</p>
</main>



<style>
    .skills__

  </style>

