---
interface props{
    lista:[];
    skillsItems: string
}
const { lista } = Astro.props;
import SkillsCard from "./SkillsCard.astro";
---

<section class="skills__card-container">
    {lista.map((skillsItems: { img: string; techName: string; }) =><SkillsCard img={skillsItems.img} tech={skillsItems.techName} />)}
</section>

<style>
    .skills__card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 20px;
        justify-content: space-around;
        transition: .6s;
        min-width: 300px;
        width: 400px;
        height: auto;
        padding: 30px 30px !important;
        margin-bottom: 150px !important;
    }
    .skills__card-container:hover {
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: var(--bg-1);
    transition: 0.6s;
  }

  @media screen and (max-width: 425px) {
    .skills__card-container{
        width: 100%;
    }
  }
</style>