---
interface props {
  img: string;
  tech: string;
}

const { img, tech } = Astro.props;

const imgSrc = JSON.stringify(img);

---

<div class="skills__card">
  <img src={img} alt="" />
  <span>{tech}</span>
</div>

{console.log(img)}
<style>
  .skills__card {
    width: 125px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px !important; 
    font-family: var(--font-5);
    font-weight: 200 !important;
    font-size: 0.8vw;
    border-radius: 30px;
    background-color: var(--bg-8);
    /* padding: 5px 5px !important; */
  }
  .skills__card:hover {
    color: var(--cl-7);
  }
  .skills__card > img {
    width: 50px;
  }
  @media only screen and (max-width: 834px) {
    .skills__card{
      font-size: 15px;
    }
  }
</style>
