---
import "../../Styles/root.css";
import DataHome from "../json/Home";
import './home.css';
---

<section id="home" class="homeContainer">
  <div class="webContent">WEB</div>
  <div class="developerContent Desktop">DEVELOPER</div>
  <div class="devContent">DEV</div>
  <div class="dataContainerHome">
    <div class="dataSocial">
      <div class="social_1">
        <p class="title">
          {DataHome.title.map((i) => <span class="effectText">{i}</span>)}
        </p>
        <p class="subtitle">
          {DataHome.subtitle.map((i) => <span class="effectText">{i}</span>)}
        </p>
        <div class="contenedor">
          <p class="description" id="byWrite"></p>
        </div>
      </div>
    </div>

    <div class="divHome"></div>
  </div>
</section>
