---
import '../Styles/root.css';
import DataAbout from './Json/About';
---

<section class="aboutContainer">
<div class="dataContainer">
      <p>{DataAbout.titulo}</p>

</div>
<div class="animationContainer"></div>
</section>

<style>
      .aboutContainer{
            width: 100%;
            height: 100vh;
            background-color: var(--bg-4)
      }
</style>