---
import Logo from '../Components/res/logo.astro';
import Menu from '../Components/res/menu.astro';
---
<nav class="navBar">
<Logo/>
<Menu/>
</nav>

<style>
.navBar {
      width: 100%;
      height: 30px;
}
</style>