---
import Logo from "../Components/res/logo.astro";
import Menu from "../Components/res/menu.astro";
import BtnLeng from "../Components/res/es-en.astro";
import '../Styles/root.css'

interface Props {
  btnTitle: string;
}
const { btnTitle } = Astro.props;
---

<nav class="navBar navBarMovil">
  <div class="logoContianer">
    <Logo />
  </div>
  <div class="menuContainer">
    <Menu btnTitle={btnTitle} />
  </div>
</nav>

<style>
  .navBar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px !important;
    background-color: var(--bg-1);
  }
  .logoContianer {
    width: 40px;
    height: 40px;
  }
  .menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .menuDesktop {
    display: none;
  }

  @media screen and (max-width: 576px) {
    .menuContainer {
      display: flex;
      flex-direction: column;
    }
  }
</style>
