---
import Logo from "../../res/logo.astro";
import Menu from "../../res/menu.astro";
import BtnLeng from "../../res/es-en.astro";
import "../../json/Skills";
import './navbar.css'

interface Props {
  btnTitle: string;
}
const { btnTitle } = Astro.props;
---

<nav class="navBar navBarMovil">
  <div class="logoContianer">
    <Logo />
  </div>
  <div class="menuContainer">
    <Menu btnTitle={btnTitle} />
  </div>
</nav>
