---
import "../../Styles/root.css";
import "./footer.css"
import Social from "../res/socialFooter.astro";
import ContactSocial from '../contact/contactCard.astro';
---

<footer class="footerContainer">
  <div class="logoSection">
    <p class="logo"><a href="#home">{"<JM/>"}</a></p>
  </div>
  <div class="socialSection">
    <div>
      <Social />
    </div>
  </div>
  <div class="socialContainer">
    <!-- <ContactSocial/> -->
  </div>
  <div class="socialContainer">
    <div class="socialBtn">
      <Social />
    </div>
  </div>
</footer>

<style>
  .logo {
    width: 100%;
    height: 100%;
    font-family: var(--font-5);
    display: flex;
    justify-content: center;
  }
  .logo > a {
    color: var(--cl-1);
    font-size: 2.5rem;
  }
  .logo > a:hover{
    color: var(--cl-7);
  }
  .socialContainer{
    position: fixed;
    width: 88px;
    height: 100px;
    right: -45px;
    top: 5% !important;
    z-index: 999;
    outline: none;
    -webkit-tap-highlight-colo: transparent;
    transition: all 400ms ease-in-out;
    animation: 1.5s ease 0s infinite iconoSocial;

  }
  .socialBtn{
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    -webkit-tap-highlight-colo: transparent;
  }

  @keyframes iconoSocial {
    0%{
      top: 5% !important;
    },
    25%{
      top: 2% !important;
    },
    50%{
     top: 5% !important;
    },
    100%{
      top: 7% !important;
    }
    }

  @media screen and (max-width: 480px){
    .socialContainer{
      top: 10% !important;
      right: -35px;
    }
  }
</style>