---
import "../../Styles/root.css";
import Social from "../res/socialFooter.astro";
import Logo from '../../../public/Resource/img/logos/jml.webp';
---

<footer class="footerContainer">
  <div class="logoSection">
    <a href="#home"><img src={Logo} alt="Logo" /></a>
  </div>
  <div class="socialSection">
    <div>
      <Social />
    </div>
  </div>
</footer>