---
interface Props {
  title: string;
}
const { title } = Astro.props;
// Styles
import "../styles/layout.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/public/Resource/img/logos/favicon.webp"/>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

    <title>Jeison Muñoz | {title}</title>
  </head>
  <body>
    <main>
        <slot />
    </main>
  </body>
</html>
