---
export interface Layaout {
  title: string;
}
const { title } = Astro.props;
import "../styles/layout.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/public/Resource/img/logos/favicon.webp"
      type="image/x-icon"
    />

    <!-- Google Fonts -->
    <link rel="preload" href="https://fonts.googleapis.com" />
    <link rel="preload" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow:wght@100&family=Gruppo&family=Jura:wght@300&family=Staatliches&display=failure"
      rel="stylesheet"
    />
    <title>Jeison Muñoz | {title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
